@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;1,500&display=swap');

:root {
    --color-body-dark: #1b1f1b;
    --color-dark-font: rgb(207, 202, 202);
    --color-dark-sec: #eea5a7;
    --color-dark-bg: #373837;

    --font-family: Kanit, sans-serif;
    --sidebar-width: 250px;
}

body {
    font-family: var(--font-family);
    background-color: var(--color-body-dark);
    color: var(--color-dark-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-dark-sec);

}

a {
    text-decoration: none;
    transition: all 0.4s ease;
}

span {
    color: var(--color-dark-sec);
    font-weight: bold;
}

img {
    width: 100%;
}

.full-height {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Navbar*/

@media(min-width:992px) {
    .navbar {
        min-height: 100vh;
        width: var(--sidebar-width);
    }

    .content-wrapper {
        padding-left: 300px;

    }
}


.navbar {
    background: linear-gradient(#040C04, #373837);
}

.navbar span {
    color: var(--color-dark-sec)
}

.navbar a {
    font-weight: 500;
    text-transform: uppercase;
    color: var(--color-dark-sec);
}

.navbar a:hover {
    font-weight: 1000;
    transform: translateY(-1px);
    color: var(--color-dark-sec);
}

.navbar a:active {
    color: var(--color-dark-sec);
}

.navbar a::after {
    color: var(--color-dark-sec);
}

/* home */

#home span {
    font-weight: 500px;
}

#home h1 {
    color: var(--color-dark-font);
}

.btn-cv {
    color: white;
    border-color: var(--color-dark-sec);
    border-radius: 300px;
    background-color: var(--color-dark);
    height: 35px;
    width: 170px;
    position: relative;
}

.btn-cv i {
    margin-right: -6px;
    color: white;
    border-color: var(--color-dark-sec);
}

.btn-cv::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--color-dark-sec);
    z-index: -1;
    width: 0;
    height: 100%;
    opacity: 0;
    transition: all .6s ease;
    border-radius: 300px;
}

.btn-cv:hover::after {
    width: 100%;
    opacity: 100%;
}

/* education */

#education {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.timeline-items {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.timeline-item {
    margin-bottom: 40px;
    width: 100%;
}


.timeline-item:nth-child(odd) {
    padding-right: 56%;
    text-align: right;
}

.timeline-item:nth-child(even) {
    padding-left: 51%;
}

.timeline-dot {
    width: 25px;
    height: 25px;
    background-color: var(--color-dark-font);
    border-radius: 50%;
}

.dot-odd {
    float: right;
    margin-right: -12%;
}

.dot-even {
    position: absolute;
    margin-left: -5%;
}

@media(max-width:992px) {

    .dot-odd {
        margin-right: -12%;
    }

    .dot-even {
        margin-left: -5%;
    }

    .verline {
        margin-left: 47%;
        margin-top: 45%;
        margin-bottom: 400px;
    }
}

@media(min-width:992px) {

    .dot-odd {
        margin-right: -42px;
    }

    .dot-even {
        margin-left: -50px;
    }

    .verline {
        margin-left: 38%;
        margin-top: 30%;
        margin-bottom: 400px;
    }
}

.timeline-content {
    background-color: var(--color-dark-bg);
    padding: 20px;
    border-radius: 10px;
}

.verline {
    width: 1px;
    height: 70%;
    background-color: var(--color-dark-sec);
    border: var(--color-dark-sec) solid 3px;
    position: absolute;
}

/* skills */

#skills .card {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: var(--color-dark-bg);
    margin-left: 40px;
    margin-top: 40px;
}

#skills img {
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 18px;
    margin-bottom: -10px;
    border-radius: 50%;
}

#skills h4 {
    text-align: center;
    color: var(--color-dark-font);
}

/* project */

.card-project {
    border: 1px var(--color-dark-bg) solid;
    background-color: var(--color-dark-bg);
    height: 509px;
}

.card-project .card-project-image img {
    transition: all 0.5s ease;
}

.card-project:hover .card-project-image img {
    transform: scale(1.2);
}

.card-project .card-project-image {
    overflow: hidden;
}

.card-project h4 {
    margin-top: 15px;
    margin-left: 10px;

}

.card-project:hover h4 {
    transform: scale(1.1);
}

.shadow-effect {
    transition: all 0.5s;
}

.shadow-effect:hover {
    box-shadow: -7px 7px 0 0 var(--color-dark-sec);
}

#project a p {
    color: var(--color-dark-font);
}

/* contact */
#contact i,
#contact p {
    color: var(--color-dark-sec)
}

#contact a i:hover {
    transform: scale(1.2);
}

.link-icon {
    float: left;
    padding: 15px 10px;
}

.form-control {
    background-color: var(--color-dark-bg);
    border-color: var(--color-dark-sec);
}

#contact .form-control:focus {
    border-width: 2px;
    border-color: var(--color-dark-sec);
    background-color: var(--color-dark-bg);
}

#contact .form-control input {
    height: 50px;
    border-color: var(--color-dark-bg);
}

#contact input {
    color: white;
}

.btn-contact {
    border-color: var(--color-dark-sec);
    background-color: var(--color-dark-sec);
    color: white;
    font-weight: 1000;
}

.btn:hover {
    border-color: var(--color-dark-sec);
    background-color: var(--color-dark-sec);
    transform: scale(1.1);
    color: white;
}

.btn:active {
    border-color: var(--color-dark-sec);
    background-color: var(--color-dark-sec);
}